{% extends "base_accounts.html" %}

{% block title %}
{{ block.super }} - Change Password Successful
{% endblock %}

{% block breadcrumb %}
  <a href="{% url 'password_change' %}" class="breadcrumb">Change Password</a>
  <a href="#" class="breadcrumb">Success</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s6">
        <h3>Success</h3>
        <p>
          Your password has been changed!.
        </p>
        <a href="{% url 'posts' %}" class="waves-effect waves-light btn-small">Return to home page</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
