{% extends "base_accounts.html" %}

{% block title %}
{{ block.super }} - Password changed!
{% endblock %}

{% block breadcrumb %}
  <a href="#" class="breadcrumb">Password Reset</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s6">
        <h3>Password Successfully Changed</h3>
        <p>
          You have successfully changed your password! You may now proceed to log in.
        </p>
        <a href="{% url 'login' %}" class="waves-effect waves-light btn-small">Return to Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
